[submodule "dropbear"]
	path = dropbear
	url = https://github.com/mkj/dropbear
[submodule "openssh"]
	path = openssh
	url = https://github.com/openssh/openssh-portable
[submodule "xz"]
	path = xz
	url = https://github.com/tukaani-project/xz
